body {
    color: #555555;
    font-family: 'Muli', sans-serif;
    background-image: url(images/kelli-tungay-2LJ4rqK2qfU-unsplash.jpg);
    background-repeat: repeat-y;
    opacity;
    background-size: 100%;
    margin-left: 35%;
    margin-top:4%
}

.fa-battery-empty {
    font-size: 100px;
    align-content:
}

.fa-battery-half {
    font-size: 100px;
    align-content:
}

.fa-battery-full {
    font-size: 100px;
    align-content:
}

.fa-battery-empty:hover {
    color: red;
    transition: 0.7s;
    transform: scale(1.1)
}

.fa-battery-half:hover {
    color: yellow;
    transition: 0.7s;
    transform: scale(1.1)
}

.fa-battery-full:hover {
    color: lawngreen;
    transition: 0.7s;
    transform: scale(1.1)
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
    object-position: 
}

img.passfoto {
    width: 42%;
    border-radius: 50%;
    margin-right: 20px;
}

p {
    font-size: 18px
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
